<!doctype html>
<html lang="en">


<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!--favicon-->
	<link rel="icon" href="{{ url_for('static', filename='images/company-logo.png') }}" type="image/png" />
	<!--plugins-->
	<link href="{{url_for('static', filename='plugins/simplebar/css/simplebar.css')}}" rel="stylesheet" />
	<link href="{{url_for('static', filename='plugins/perfect-scrollbar/css/perfect-scrollbar.css')}}" rel="stylesheet" />
	<link href="{{url_for('static', filename='plugins/metismenu/css/metisMenu.min.css')}}" rel="stylesheet" />
	<link href="{{url_for('static', filename='plugins/datatable/css/dataTables.bootstrap5.min.css')}}" rel="stylesheet" />
	<link href="{{ url_for('static', filename='plugins/metismenu/css/metisMenu.min.css') }}" rel="stylesheet" />
	<!-- loader-->
	<link href="{{ url_for('static', filename='css/pace.min.css') }}" rel="stylesheet" />
	<script src="{{ url_for('static', filename='js/pace.min.js') }}"></script>
	<!-- Bootstrap CSS -->
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap-extended.css') }}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/icons.css') }}" rel="stylesheet">
	<!-- Sweet Alert -->
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<title>WebNike</title>
</head>

<body class="bg-theme bg-theme2">
	<!--wrapper-->
	<div class="wrapper">
		<!--sidebar wrapper -->
		<div class="sidebar-wrapper" data-simplebar="true">
			<div class="sidebar-header">
				<div href="{{ url_for('superAdmin.home_view') }}" class="m-auto">
					<img width="100px;" src="{{ url_for('static', filename='images/company-logo.png') }}" class="" alt="logo icon">
				</div>
				
				<div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
				</div>
			</div>
			<!--navigation-->
			<ul class="metismenu" id="menu">
				<li>
					<a href="{{ url_for('superAdmin.home_view') }}">
						<div class="parent-icon"><i class='bx bx-home-circle'></i>
						</div>
						<div class="menu-title">Home</div>
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<div class="parent-icon"><i class="bx bx-category"></i>
						</div>
						<div class="menu-title">Calendar</div>
					</a>
				</li>
				<li class="menu-label">Orders</li>
				<li>
					<a href="javascript:;" class="has-arrow">
						<div class="parent-icon"><i class='bx bx-cart'></i>
						</div>
						<div class="menu-title">Orders</div>
					</a>
					<ul>
						<li> <a href="{{url_for('sale.order_create_view')}}"><i class="bx bx-right-arrow-alt"></i>Add New Orders</a>
						</li>
						<li> <a href="#"><i class="bx bx-right-arrow-alt"></i>All Orders</a>
						</li>
						<li> <a href="#"><i class="bx bx-right-arrow-alt"></i>Active Orders</a>
						</li>
						<li> <a href="#"><i class="bx bx-right-arrow-alt"></i>Cancelled Orders</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="https://codervent.com/dashtreme/documentation/index.html" target="_blank">
						<div class="parent-icon"><i class="bx bx-folder"></i>
						</div>
						<div class="menu-title">Wrokspace</div>
					</a>
				</li>
				<!-- <li class="menu-label">Company</li>
				<li>
					<a class="has-arrow" href="javascript:;">
						<div class="parent-icon"><i class="bx bx-user"></i>
						</div>
						<div class="menu-title">Users</div>
					</a>
					<ul>
						<li> 
							<a href="{{ url_for('superAdmin.create_user_view') }}"><i class="bx bx-right-arrow-alt"></i>Add New User</a>
						</li>
						<li> 
							<a href="{{ url_for('superAdmin.list_user_view') }}"><i class="bx bx-right-arrow-alt"></i>All Users</a>
						</li>
						<li> 
							<a href="#"><i class="bx bx-right-arrow-alt"></i>Active Users</a>
						</li>
						<li> 
							<a href="#"><i class="bx bx-right-arrow-alt"></i>Suspended Users</a>
						</li>
					</ul>
				</li> -->
				<!-- <li>
					<a href="https://themeforest.net/user/codervent" target="_blank">
						<div class="parent-icon"><i class="bx bx-building"></i>
						</div>
						<div class="menu-title">Add New department</div>
					</a>
				</li> -->
				<li class="menu-label">Personal</li>
				<li>
					<a href="https://themeforest.net/user/codervent" target="_blank">
						<div class="parent-icon"><i class="bx bx-face"></i>
						</div>
						<div class="menu-title">User Profile</div>
					</a>
				</li>
			</ul>
			<!--end navigation-->
		</div>
		<!--end sidebar wrapper -->
		<!--start header -->
		<header>
			<div class="topbar d-flex align-items-center">
				<nav class="navbar navbar-expand">
					<div class="mobile-toggle-menu"><i class='bx bx-menu'></i>
					</div>
					<div class="search-bar flex-grow-1">
						<div class="position-relative search-bar-box">
							<input type="text" class="form-control search-control" placeholder="Type to search..."> <span class="position-absolute top-50 search-show translate-middle-y"><i class='bx bx-search'></i></span>
							<span class="position-absolute top-50 search-close translate-middle-y"><i class='bx bx-x'></i></span>
						</div>
					</div>
					<div class="top-menu ms-auto">
						<ul class="navbar-nav align-items-center">
							<li class="nav-item mobile-search-icon">
								<a class="nav-link" href="#">	<i class='bx bx-search'></i>
								</a>
							</li>
							<li class="nav-item dropdown dropdown-large">
								<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">	<i class='bx bx-category'></i>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<div class="row row-cols-3 g-3 p-3">
										<div class="col text-center">
											<div class="app-box mx-auto"><i class='bx bx-group'></i>
											</div>
											<div class="app-title">Teams</div>
										</div>
										<div class="col text-center">
											<div class="app-box mx-auto"><i class='bx bx-atom'></i>
											</div>
											<div class="app-title">Projects</div>
										</div>
										<div class="col text-center">
											<div class="app-box mx-auto"><i class='bx bx-shield'></i>
											</div>
											<div class="app-title">Tasks</div>
										</div>
										<div class="col text-center">
											<div class="app-box mx-auto"><i class='bx bx-notification'></i>
											</div>
											<div class="app-title">Feeds</div>
										</div>
										<div class="col text-center">
											<div class="app-box mx-auto"><i class='bx bx-file'></i>
											</div>
											<div class="app-title">Files</div>
										</div>
										<div class="col text-center">
											<div class="app-box mx-auto"><i class='bx bx-filter-alt'></i>
											</div>
											<div class="app-title">Alerts</div>
										</div>
									</div>
								</div>
							</li>
							<li class="nav-item dropdown dropdown-large">
								<a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <span class="alert-count">0</span>
									<i class='bx bx-bell'></i>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<a href="javascript:;">
										<div class="msg-header">
											<p class="msg-header-title">Orders</p>
										</div>
									</a>
									<div class="header-notifications-list">
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="notify"><i class="bx bx-group"></i>
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name">New Customers<span class="msg-time float-end">14 Sec
												ago</span></h6>
													<p class="msg-info">5 new user registered</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="notify"><i class="bx bx-cart-alt"></i>
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name">New Orders <span class="msg-time float-end">2 min
												ago</span></h6>
													<p class="msg-info">You have recived new orders</p>
												</div>
											</div>
										</a>
									</div>
									<a href="javascript:;">
										<div class="text-center msg-footer">View All Notifications</div>
									</a>
								</div>
							</li>
							<li class="nav-item dropdown dropdown-large">
								<a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <span class="alert-count">0</span>
									<i class='bx bx-comment'></i>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<a href="javascript:;">
										<div class="msg-header">
											<p class="msg-header-title">Messages</p>
										</div>
									</a>
									<div class="header-message-list">
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="user-online">
													<img src="{{ url_for('static', filename='images/avatars/assigned.png') }}" class="msg-avatar" alt="user avatar">
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name">Daisy Anderson <span class="msg-time float-end">5 sec
												ago</span></h6>
													<p class="msg-info">The standard chunk of lorem</p>
												</div>
											</div>
										</a>
										<a class="dropdown-item" href="javascript:;">
											<div class="d-flex align-items-center">
												<div class="user-online">
													<img src="{{ url_for('static', filename='images/avatars/assigned.png') }}" class="msg-avatar" alt="user avatar">
												</div>
												<div class="flex-grow-1">
													<h6 class="msg-name">Althea Cabardo <span class="msg-time float-end">14
												sec ago</span></h6>
													<p class="msg-info">Many desktop publishing packages</p>
												</div>
											</div>
										</a>
									</div>
									<a href="javascript:;">
										<div class="text-center msg-footer">View All Messages</div>
									</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="user-box dropdown">
						<a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="{{ url_for('static', filename='images/avatars/assigned.png') }}" class="user-img" alt="user avatar">
							<div class="user-info ps-3">
								<p class="user-name mb-0">{{ session['emp_name'] }}</p>
								<p class="designattion mb-0">{{ session['designation'] }}</p>
							</div>
						</a>
						<ul class="dropdown-menu dropdown-menu-end">
							<li><a class="dropdown-item" href="javascript:;"><i class="bx bx-user"></i><span>Profile</span></a>
							</li>
							<li><a class="dropdown-item" href="javascript:;"><i class="bx bx-cog"></i><span>Settings</span></a>
							</li>
							<li><a class="dropdown-item" href="javascript:;"><i class='bx bx-home-circle'></i><span>Dashboard</span></a>
							</li>
							<li><a class="dropdown-item" href="javascript:;"><i class='bx bx-dollar-circle'></i><span>Earnings</span></a>
							</li>
							<li><a class="dropdown-item" href="javascript:;"><i class='bx bx-download'></i><span>Downloads</span></a>
							</li>
							<li>
								<div class="dropdown-divider mb-0"></div>
							</li>
							<li><a class="dropdown-item" href="{{ url_for('logout_view') }}"><i class='bx bx-log-out-circle'></i><span>Logout</span></a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>

        {% block body %}
        {% endblock %}
		
        	<!--end page wrapper -->

		<footer class="page-footer">
			<p class="mb-0">Copyright © 2021. All right reserved.</p>
		</footer>
	</div>
	<!--end wrapper-->
	
	<!-- Bootstrap JS -->
	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
	<!--plugins-->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/simplebar/js/simplebar.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/metismenu/js/metisMenu.min.js') }}"></script>
	<script src="{{ url_for('static', filename='plugins/perfect-scrollbar/js/perfect-scrollbar.js') }}"></script>
	
	<script src="{{ url_for('static', filename='plugins/chartjs/chart.min.js') }}"></script>
	
	<script src="{{ url_for('static', filename='plugins/jquery.easy-pie-chart/jquery.easypiechart.min.js') }}"></script> -->
	<!-- <script src="{{ url_for('static', filename='plugins/sparkline-charts/jquery.sparkline.min.js') }}"></script> -->
	<!-- <script src="{{ url_for('static', filename='plugins/jquery-knob/excanvas.js') }}"></script> -->
	<!-- <script src="{{ url_for('static', filename='plugins/jquery-knob/jquery.knob.js') }}"></script>
	  <!-- <script>
		  $(function() {
			  $(".knob").knob();
		  });
	  </script> -->
	   
	  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
	<!--app JS-->
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
	
	
</body>


<!-- Mirrored from codervent.com/dashtreme/demo/vertical/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 21 Oct 2022 07:21:34 GMT -->
</html>